# PostgreSQL配置
APP_POSTGRESQL_HOST=localhost
APP_POSTGRESQL_PORT=5432
APP_POSTGRESQL_USER=postgres
APP_POSTGRESQL_PASSWORD=password
APP_POSTGRESQL_DBNAME=awesome_eval
APP_POSTGRESQL_SSLMODE=disable

# Redis配置
APP_REDIS_HOST=localhost
APP_REDIS_PORT=6379
APP_REDIS_PASSWORD=
APP_REDIS_DB=0

# RabbitMQ配置
APP_RABBITMQ_HOST=localhost
APP_RABBITMQ_PORT=5672
APP_RABBITMQ_USER=guest
APP_RABBITMQ_PASSWORD=guest
APP_RABBITMQ_VHOST=/ 